@font-face {
    font-family: 'century';
    src: url(../Assets/fonts/Century\ Gothic.ttf);
}

@font-face {
    font-family: 'ft';
    src: url(../Assets/fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: century;
    overflow-x: hidden;
}

/* Style for the header page*/
.header {
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.header .options {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 0;
}

.header a {
    font-family: ft;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000000d2;
}

.header img {
    width: 100px;
}

.header .search-bar {
    height: 24px;
}

.header .search-btn {
    padding: 1.5px 5px;
    height: 100%;
    background-color: #013D29;
    color: #fff;
}

#searchbox {
    height: 100%;
    width: 12vw;
    border-radius: 5px 0 0 5px;
}

.header .search-bar {
    display: flex;
}

/*Style for the main section*/
main {
    width: 90%;
    margin: auto;
}

/* Style for the swiper section*/

.banner {
    height: 40vh;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* style for home page listings */

.list-sec {
    margin: 40px 0px;
}

.sec-title {
    font-family: century;
    margin: 30px 0;
    font-size: 1.2rem;
}

/*Style for each listing item */
.item-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-desc .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.item-desc .desc-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-desc .desc-sec .row-1 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.item-desc .row-1 .title,
.item-desc .row-1 .price {
    font-weight: bolder;
    font-size: 18px;
}

.item-desc .row-2 .desc,
.item-desc .row-2 .rating {
    color: #00000093;
}

.item-desc .desc-sec .row-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-desc .row-2 .btn-addcart {
    color: #000;
    text-decoration: none;
    border: 1px black solid;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}

.item-desc .row-2 .btn-addcart:hover {
    background-color: #013D29;
    color: #fff;
}

.checked {
    color: #0BAB0A;
}

/* Style for the footer*/
footer {
    padding: 50px 0;
    background-color: #013D29;
}

footer .foot-container {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: auto;
}

footer .col {
    width: 40%;
}

footer .footer-title {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
footer .footer-desc {
    color: #ffffff78;
    line-height: 25px;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer ul li{
    list-style-type: none;
}
footer ul a{
    text-decoration: none;
    color: #ffffff78;
}
footer ul a:hover{
    color: #fff;
}