<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Business Managment </title>
</head>

<body>
    <header class="business-man-header">
        <p class="business_name">Business Control Panel</p>
    </header>
    <main>
        <div class="business-man-container">
            <div class="menu-sec">
                <a class="menu-item active" id="order-btn"  onclick="select('order-btn','opt-1')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; New Orders</a>
                <a class="menu-item" id="list-btn" onclick="select('list-btn','opt-2')"><i class="fa fa-book"
                        aria-hidden="true"></i> &nbsp; Items List</a>
                <a class="menu-item" id="add-btn" onclick="select('add-btn','opt-3')"><i class="fa fa-pencil-square"
                        aria-hidden="true"></i> &nbsp; Add Item</a>
                <a class="menu-item" id="stat-btn" onclick="select('stat-btn','opt-4')"><i class="fa fa-bar-chart"
                        aria-hidden="true"></i> &nbsp; Stats</a>
                <a class="menu-item" id="edit-btn" onclick="select('edit-btn','opt-5')"><i class="fa fa-user"
                        aria-hidden="true"></i> &nbsp; Edit Profile</a>
                <a class="menu-item" id="pss-btn" onclick="select('pss-btn','opt-6')"><i class="fa fa-key"
                        aria-hidden="true"></i>&nbsp; Change Password</a>
                <a class="menu-item"> <i class="fa-solid fa-walkie-talkie"></i> &nbsp; Contact Adminstrator</a>
                <a class="menu-item"> <i class="fa-solid fa-right-from-bracket"></i>&nbsp; Logout</a>
            </div>
            <div class="opt-container">
                <!-- First Option-->
                <div class="new-order" id="opt-1">
                    <div class="order-wrapper">
                        <div class="orderd_item">
                            <img src="../Assets/img/iph.jpg" alt="">
                            <p class="product-name">iPhone 14 pro</p>
                            <p class="price">1000 Birr</p>
                            <p class="mark">Mark as Delivered</p>
                        </div>
                    </div>
                </div>
                <!-- Second Option-->
                <div class="opt-co" id="opt-2">
                    <div class="opt">
                        <div class="item">
                            <img src="../Assets/img/iph.jpg" alt="">
                            <p class="item-name">iPhone 14 Max</p>
                            <div class="lower">
                                <p class="stock">30 Items</p>
                                <p class="edit"><i class="fas fa-edit"></i></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../Assets/img/iph.jpg" alt="">
                            <p class="item-name">iPhone 14 Max</p>
                            <div class="lower">
                                <p class="stock">30 Items</p>
                                <p class="edit"><i class="fas fa-edit"></i></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../Assets/img/iph.jpg" alt="">
                            <p class="item-name">iPhone 14 Max</p>
                            <div class="lower">
                                <p class="stock">30 Items</p>
                                <p class="edit"><i class="fas fa-edit"></i></p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../Assets/img/iph.jpg" alt="">
                            <p class="item-name">iPhone 14 Max</p>
                            <div class="lower">
                                <p class="stock">30 Items</p>
                                <p class="edit"><i class="fas fa-edit"></i></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Second Option-->
                <div class="add-item" id="opt-3">
                    <div class="add-item-container">
                        <p class="title">Add Product</p>
                        <form action="" method="post">

                            <div class="row-1">
                                <input type="text" name="" id="" placeholder="Product Name">
                                <input type="number" name="" id="" placeholder="Price">
                                <input type="text" name="" id="" placeholder="Main Description">
                            </div>

                            <div class="row-2">

                                <p class="label">Product Photo</p>

                                <div class="sub-row-1">
                                    <input type="file" name="" id="">
                                    <input type="file" name="" id="">
                                    <input type="file" name="" id="">
                                    <input type="file" name="" id="">
                                </div>

                            </div>
                            <div class="row-3">
                                <input type="text" name="" id="" placeholder="Description - 1">
                                <input type="text" name="" id="" placeholder="Description - 2">
                                <input type="text" name="" id="" placeholder="Description - 3">
                                <input type="text" name="" id="" placeholder="Description - 4">
                                <input type="text" name="" id="" placeholder="Description - 5">
                                <input type="text" name="" id="" placeholder="Description - 6">
                            </div>
                            <div class="row-4">
                                <input type="number" name="" id="" placeholder="Stock">
                            </div>
                            <input type="submit" value="Upload Product &#8594">
                        </form>
                    </div>
                </div>

                <!-- Third Option -->
                <div class="stats" id="opt-4">
                    <div class="stats-wrapper">
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Available Items</p>
                        </div>
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Today's Sales</p>
                        </div>
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Today's Revenue</p>
                        </div>
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Items Sold</p>
                        </div>
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Total Revenue</p>
                        </div>
                        <div class="stat">
                            <p class="first">300</p>
                            <p class="second">Average Rating</p>
                        </div>
                    </div>
                </div>
                <!-- Fourth Option-->
                <div class="profile" id="opt-5">
                    <div class="profile-wrapper">
                        <form action="">
                            <input type="text" name="" id="" placeholder="First Name" required>
                            <input type="text" name="" id="" placeholder="Last Name" required>
                            <input type="text" name="" id="" placeholder="Business Name" required>
                            <input type="email" name="" id="" placeholder="Email" required>
                            <input type="number" name="" id="" placeholder="Phone Number" required>
                            <input type="text" name="" id="" placeholder="Address">
                            <a href="">Locate Me</a>
                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>

                <div class="password" id="opt-6">
                    <div class="password-wrapper">
                        <form action="">
                            <input type="password" name="" id="" placeholder="Old Password">
                            <input type="password" name="" id="" placeholder="New Password">
                            <input type="password" name="" id="" placeholder="Confirm Password">
                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>
    <script>
        function disableAll() {
            document.getElementById('opt-1').style.display = 'none';
            document.getElementById('opt-2').style.display = 'none';
            document.getElementById('opt-3').style.display = 'none';
            document.getElementById('opt-4').style.display = 'none';
            document.getElementById('opt-5').style.display = 'none';
            document.getElementById('opt-6').style.display = 'none';
            document.getElementById('order-btn').style.backgroundColor = "white";
            document.getElementById('list-btn').style.backgroundColor = "white";
            document.getElementById('add-btn').style.backgroundColor = "white";
            document.getElementById('stat-btn').style.backgroundColor = "white";
            document.getElementById('edit-btn').style.backgroundColor = "white";
            document.getElementById('pss-btn').style.backgroundColor = "white";
        }
        function select(opt, targ) {
            disableAll();
            document.getElementById(targ).style.display = "block";
            document.getElementById(opt).style.backgroundColor = "#00000027";
        }
    </script>
</body>

</html>