<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Business Registration</title>
</head>

<body>
    <main>
        <div class="reg-container">
            <div class="col col-1">
                <p class="reg-title">Sign Up</p>
                <p class="reg-subtitle">Shop Smart, Save Time, Discover Endless Possibilities</p>
                <div class="signup-container">
                    <form action="" method="post">
                        <input type="text" name="fname" id="fname" placeholder="First Name" required>
                        <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                        <input type="text" name="lname" id="lname" placeholder="Business Name" required>
                        <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone Number" required>
                        <input type="email" name="email" id="email" placeholder="E-mail" required>
                        <input type="text" name="address" id="address" placeholder="Address" required>
                        <a href="" class="locatme">locate me</a>
                        <label for="licence" class="licencebiz">Scan & Upload your licence</label>
                        <input type="file" name="" id="licence">
                        <input type="password" name="password" id="password" placeholder="Password" required>
                        <input type="password" name="confirm_password" id="confirm_password"
                            placeholder="Confirm Password" required>
                        <input type="submit" value="Sign Up &#8594" class="submit">
                    </form>
                    <div class="additional-options">
                        <p>Already have an account?&nbsp;&nbsp;<a href="http://">Sign in</a></p>
                        <p>Customer Registration?&nbsp;&nbsp;<a href="http://">Click here</a></p>
                    </div>
                </div>
            </div>
            <div class="col col-2"></div>

        </div>
        </div>
    </main>
    <footer>
        <div class="foot-container">
            <div class="col col-1">
                <p class="footer-title">Adulis Ecommerce Platform</p>
                <p class="footer-desc">
                    Adulis is an e-commerce platform designed to give online shopping a seamless experience, providing
                    sellers
                    with an efficient way to showcase their products and buyers with a reliable and convenient platform
                    for making
                    their purchases. With its advanced features, Adulis provides a secure environment for all
                    transactions while
                    facilitating quick and hassle-free delivery.
                </p>
            </div>
            <div class="col col-1">
                <p class="footer-title">Important Links</p>
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Main Page</a></li>
                </ul>
            </div>
            <div class="col col-2">
                <p class="footer-title">Contact Us</p>
                <ul>
                    <li><a href="tel:"><i class="fa fa-mobile" aria-hidden="true"></i>
                            &nbsp;&nbsp;+251 911 121314</a></li>
                    <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i>
                            &nbsp;&nbsp;contact@adulis.com</a></li>
                    <li><a href="" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            &nbsp;&nbsp;Around Addis Ababa</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>