<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Seller Information</title>
</head>
<body>
    <header class="business-man-header">
        <p class="business_name">Admin Control Panel</p>
        <p><a href="./adminpanel.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a></p>
    </header>
    <main>
        <div class="detail-info-container">
            <p class="info">Full Name: Samuel Zewde</p>
            <p class="info">Phone Number: +251944263239</p>
            <p class="info">Email: samuelzewde29@gmail.com</p>
            <p class="info">Address: Bethel Square</p>
            <p class="info">Total Items Bought: 300</p>
            <div class="action-btns">
                <a href="http://" class="activate">Activate Account</a>
                <a href="http://" class="deactive">Deactivate Account</a>
            </div>
        </div>
    </main>
</body>
</html>