<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Cart</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../Assets/img/adulislogo1000.png" alt="Adulis Logo">
            </div>
            <div class="options">
                <a href="http://">Categories</a>
                <a href="http://">New Items</a>
                <a href="">My Wish List</a>
                <div class="search-bar">
                    <input type="text" name="search" id="searchbox" placeholder="Search Products">
                    <a href=""><i class="fa fa-search search-btn" aria-hidden="true"></i></a>
                </div>
                <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div class="cart-container">
            <p class="cart-title">Your Cart</p>
            <div class="cart-wrapper">
                <div class="cart-detail">
                    <img src="../Assets/img/iph.jpg" alt="">
                    <p class="product-name">iPhone 14 pro</p>
                    <div class="quantity-sec">
                        <p class="increase">&minus;</p>
                        <p class="quantity">10</p>
                        <p class="decrease">&plus;</p>
                    </div>
                    <p class="price">1000</p>
                    <p class="remove-cart">&#10761;</p>
                </div>

                <div class="cart-detail">
                    <img src="../Assets/img/iph.jpg" alt="">
                    <p class="product-name">iPhone 14 pro</p>
                    <div class="quantity-sec">
                        <p class="increase">&minus;</p>
                        <p class="quantity">10</p>
                        <p class="decrease">&plus;</p>
                    </div>
                    <p class="price">1000</p>
                    <p class="remove-cart">&#10761;</p>
                </div>

                <div class="cart-detail">
                    <img src="../Assets/img/iph.jpg" alt="">
                    <p class="product-name">iPhone 14 pro</p>
                    <div class="quantity-sec">
                        <p class="increase">&minus;</p>
                        <p class="quantity">10</p>
                        <p class="decrease">&plus;</p>
                    </div>
                    <p class="price">1000</p>
                    <p class="remove-cart">&#10761;</p>
                </div>

                <div class="cart-detail">
                    <img src="../Assets/img/iph.jpg" alt="">
                    <p class="product-name">iPhone 14 pro</p>
                    <div class="quantity-sec">
                        <p class="increase">&minus;</p>
                        <p class="quantity">10</p>
                        <p class="decrease">&plus;</p>
                    </div>
                    <p class="price">1000</p>
                    <p class="remove-cart">&#10761;</p>
                </div>
                
                <a href="" class="checkout">Check Out</a>
            </div>
            


        </div>
    </main>
    <footer>
        <div class="foot-container">
            <div class="col col-1">
                <p class="footer-title">Adulis Ecommerce Platform</p>
                <p class="footer-desc">
                    Adulis is an e-commerce platform designed to give online shopping a seamless experience, providing
                    sellers
                    with an efficient way to showcase their products and buyers with a reliable and convenient platform
                    for making
                    their purchases. With its advanced features, Adulis provides a secure environment for all
                    transactions while
                    facilitating quick and hassle-free delivery.
                </p>
            </div>
            <div class="col col-1">
                <p class="footer-title">Important Links</p>
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Main Page</a></li>
                </ul>
            </div>
            <div class="col col-2">
                <p class="footer-title">Contact Us</p>
                <ul>
                    <li><a href="tel:"><i class="fa fa-mobile" aria-hidden="true"></i>
                            &nbsp;&nbsp;+251 911 121314</a></li>
                    <li><a href="mailto:"><i class="fa fa-envelope" aria-hidden="true"></i>
                            &nbsp;&nbsp;contact@adulis.com</a></li>
                    <li><a href="" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>
                            &nbsp;&nbsp;Around Addis Ababa</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>