<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adulis Login</title>
</head>

<body>
    <main>
        <div class="login-container">
            <img src="../Assets/img/adulislogo1000.png" alt="">
            <p class="login-title">Welcome back</p>
            <form action="" method="post">
                <input type="email" name="email" id="email" placeholder="E-mail">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Login &#8594" class="submit">
            </form>
            <div class="additional-options">
                <p>Forget Password?&nbsp;&nbsp;<a href="http://">Reset</a></p>
                <p>Don't have an account?&nbsp;&nbsp;<a href="http://">Register</a></p>
            </div>
        </div>
    </main>
</body>

</html>