<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../Assets/img/adulislogo1000.png" alt="Adulis Logo">
            </div>
            <div class="options">
                <a href="http://">Categories</a>
                <a href="http://">New Items</a>
                <a href="">My Wish List</a>
                <div class="search-bar">
                    <input type="text" name="search" id="searchbox" placeholder="Search Products">
                    <a href=""><i class="fa fa-search search-btn" aria-hidden="true"></i></a>
                </div>
                <a href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </header>
    <main>
        <div class="pro-container">
            <p class="profile-title">Profile</p>
            <div class="horizontal-ruler"></div>
            <div class="pro-wrapper">
                <div class="col-1">
                    <a href="" >History</a>
                    <a href="">Edit Profile</a>
                    <a href=""class="selected">Change Password</a>
                    <a href="">Contact Adminstrator</a>
                    <a href="">Deactivate Account</a>
                    <a href="">Logout</a>
                </div>
                <div class="col-2">
                    
                </div>
            </div>
        </div>
    </main>
</body>

</html>