<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <title>Seller Information</title>
</head>
<body>
    <header class="business-man-header">
        <p class="business_name">Business Control Panel</p>
        <p><a href="./adminpanel.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a></p>
    </header>
    <main>
        <p class="sales-report-title">Sales report for today</p>
        <div class="sales-report-container">
            <div class="orderd_item">
                <img src="../Assets/img/iph.jpg" alt="">
                <p class="product-name">iPhone 14 pro</p>
                <p class="price">1000 Birr</p>
            </div>
        </div>
    </main>
</body>
</html>