@font-face {
    font-family: 'century';
    src: url(../Assets/fonts/Century\ Gothic.ttf);
}

@font-face {
    font-family: 'ft';
    src: url(../Assets/fonts/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: century;
    overflow-x: hidden;
}

/* Style for the header page*/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    margin: auto;
    background-color: #fff;
    top: 0%;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.header .options {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 0;
}

.header a {
    font-family: ft;
    font-weight: lighter;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000d2;
}

.header img {
    width: 90px;
}

.header .search-bar {
    height: 24px;
}

.header .search-btn {
    padding: 1.5px 5px;
    height: 100%;
    background-color: #013D29;
    color: #fff;
}

#searchbox {
    height: 100%;
    width: 12vw;
    border-radius: 5px 0 0 5px;
}

.header .search-bar {
    display: flex;
}

/*Style for the main section*/
main {
    width: 90%;
    margin: auto;
}

/* Style for the swiper section*/

.banner {
    margin-top: 150px;
    height: 40vh;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* style for home page listings */

.list-sec {
    margin: 40px 0px;
}

.sec-title {
    font-family: century;
    margin: 30px 0;
    font-size: 1.2rem;
}

/*Style for each listing item */
.item-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-desc .item-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.item-desc .desc-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-desc .desc-sec .row-1 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
}

.item-desc .row-1 .title,
.item-desc .row-1 .price {
    font-weight: bolder;
    font-size: 18px;
}

.item-desc .row-2 .desc,
.item-desc .row-2 .rating {
    color: #00000093;
}

.item-desc .desc-sec .row-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-desc .row-2 .btn-addcart {
    color: #000;
    text-decoration: none;
    border: 1px black solid;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}

.item-desc .row-2 .btn-addcart:hover {
    background-color: #013D29;
    color: #fff;
}

.checked {
    color: #0BAB0A;
}

/* Style for the footer*/
footer {
    margin-top: 100px;
    padding: 50px 0;
    background-color: #013D29;
}

footer .foot-container {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: auto;
}

footer .col {
    width: 40%;
}

footer .footer-title {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

footer .footer-desc {
    color: #ffffff78;
    line-height: 25px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer ul li {
    list-style-type: none;
}

footer ul a {
    text-decoration: none;
    color: #ffffff78;
}

footer ul a:hover {
    color: #fff;
}

/*Style for the listing page*/
.list-container-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.list-title {
    font-family: century;
    margin: 150px 0px 30px 0px;
    font-size: 1.2rem;
}

/*Style for the registration page*/
.reg-container {
    display: flex;
    margin: auto;
}

.reg-container .col-1 {
    width: 55%;
}

.reg-container .col-2 {
    width: 45%;
    height: 100vh;
    background-image: url(../Assets/img/vecteezy_girl-putting-up-sign-for-plan-schedule_.jpg);
    background-position: center;
    background-size: cover;
}

.reg-container .reg-title {
    font-size: 3rem;
    margin-top: 30px;
    font-weight: 200;
}

.reg-container .reg-subtitle {
    color: #000000a6;
}

.reg-container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reg-container input {
    width: 60%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 5px;
}

.reg-container .submit {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
}

.locatme {
    color: #000000a6;
}

.reg-container .submit:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

.reg-container .additional-options {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #00000096;
}

/* Style for login page */
.login-container {
    width: 60%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000002;
    gap: 20px;
    padding: 50px 0px;
    border-radius: 20px;
}

.login-container img {
    width: 120px;
    height: auto;
}

.login-container .login-title {
    font-size: 1.7rem;
}

.login-container input {
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 5px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.login-container .submit {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
}

.login-container .submit:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

.login-container .additional-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #00000096;
}

/*Style for reset password page*/
.reset-container {
    margin: 100px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reset-container img {
    width: 60px;
    height: auto;
}

.reset-container .reset-title {
    font-size: 1.6rem;
}

.reset-container .reset-sub {
    font-size: 0.8rem;
    color: #00000090;
}

.reset-container form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
}

.reset-container form input {
    width: 80%;
    margin: auto;
    height: 40px;
    gap: 10px;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 5px;
}

.reset-container .submit {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
}

.reset-container .submit:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

/*Style for the profile page */
.pro-container {
    margin-top: 120px;
}

.pro-container .profile-title {
    font-size: 1.6rem;
}

.pro-container .horizontal-ruler {
    height: 1px;
    width: 100%;
    background-color: #00000015;
}

.pro-container .pro-wrapper {
    display: flex;
    gap: 40px;
}

.pro-container .pro-wrapper .col-1 {
    width: 20%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pro-container .pro-wrapper .col-2 {
    padding: 30px 0;
    width: 80%;
    height: 80vh;
}

.pro-container .hist-row {

    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #0000005a;
    margin-bottom: 10px;
}

.pro-container .edit-profile {
    display: none;
}

.pro-container .edit-profile form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
}

.pro-container .edit-profile form input {
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
}

.pro-container .edit-profile form input[type='submit'] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
}

.pro-container .password {
    display: none;
}

.pro-container .password form input[type='submit'] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
}

.pro-container .password form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
}

.pro-container .password form input {
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
}

.pro-container .pro-wrapper .col-1 a {
    text-decoration: none;
    color: #000000ca;
    padding: 5px 2px;
    cursor: pointer;
}

.pro-container .pro-wrapper .col-1 .selected {
    color: #000;
    background-color: #00000027;
}

/*Style for the categories page*/
.cat-container .cat-title {
    margin: 120px 0 40px 0;
    font-size: 1.8rem;
}

.cat-container .cat-wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cat-container .cat-detail {
    display: flex;
    gap: 20px;
    border: 0.5px solid #000;
    border-radius: 10px;
}

.cat-container .cat-detail .product-cat {
    align-self: center;
}

.cat-container .cat-detail:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}

.cat-container .cat-detail img {
    width: 70px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Style for the detail page*/
.detailpg-container {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detailpg-container .col-1 {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.detailpg-container .col-2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.detailpg-container .col-1 .row-1 img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.detailpg-container .col-1 .row-2 {
    display: flex;
    justify-content: space-evenly;
}

.detailpg-container .col-1 .row-2 img {
    width: 50px;
    height: auto;
    object-fit: cover;
}

.detailpg-container .col-2 .row-1 {
    display: flex;
    justify-content: space-between;
}

.detailpg-container .col-2 .row-1 .product-name,
.detailpg-container .col-2 .row-1 .product-price {
    font-size: 1.8rem;
}

.detailpg-container .col-2 li {
    line-height: calc(3 * 0.7rem);
}

.detailpg-container .btn-addcart {
    color: #000;
    text-decoration: none;
    border: 1px black solid;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}

.detailpg-container .btn-addcart:hover {
    background-color: #013D29;
    color: #fff;
}

/*Style for the cart page*/
.cart-container .cart-title {
    margin: 120px 0 40px 0;
    font-size: 1.8rem;
}

.cart-container .cart-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #00000021 solid;
}

.cart-container .cart-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-container .cart-detail p {
    font-size: 1.1rem;
}

.cart-container .cart-detail img {
    width: 80px;
}

.cart-container .quantity-sec {
    display: flex;
    gap: 10px;
}

.cart-container .cart-detail .quantity-sec {
    background-color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 8px;
}

.cart-container .checkout {
    color: #000;
    text-decoration: none;
    border: 1px black solid;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
    align-self: center;
}

.cart-container .checkout:hover {
    background-color: #013D29;
    color: #fff;
}

/* Style for checkout page */
.checkout-container .checkout-title {
    margin: 120px 0 40px 0;
    font-size: 1.8rem;
}

.checkout-container .checkout-wrapper {
    margin-left: 15%;
    display: flex;
    gap: 100px;
}

.checkout-container .col {
    border: 1px #00000021 solid;
    border-radius: 10px;
    padding: 40px;
}

.checkout-container .col-2 .row-1 {
    display: flex;
    gap: 100px;
}

.checkout-container .col-1 p {
    line-height: calc(2 * 1rem);
}

.checkout-container .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout-container .title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.checkout-container .detail {
    color: #00000050;
}

.checkout-container .checkout-wrapper .col-1 span {
    color: #000;
}

.checkout-container .pay-btn {
    color: #000;
    text-decoration: none;
    border: 1px black solid;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}

.checkout-container .pay-btn:hover {
    background-color: #013D29;
    color: #fff;
}

/* Contact Page*/
.contact-container .contact-title {
    margin: 120px 0 40px 0;
    font-size: 1.8rem;
}

.contact-container form {
    width: 40%;
}

.contact-container form input {
    height: 45px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
}

.contact-container form input[type='submit'] {
    border: none;
    background-color: #fff;
    text-align: left;
    border: 1px solid #000;
    width: 40%;
    cursor: pointer;
}

.contact-container form input[type='submit']:hover {
    background-color: #013D29;
    color: #fff;
}

.contact-container form input::placeholder {
    padding: 100px;
}

.contact-container .contact-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

/* New Password */
.new-password {
    width: 60%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-password .pass-title {
    font-size: 1.4rem;
    margin: 10px 0;
}

.new-password form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.new-password .pass-title {
    margin: 20px 0px;
}

.new-password form input {
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
}

.new-password form input[type='submit'] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
}

.new-password img {
    width: 100px;
}

/* Search Page */
.search-container .search-title {
    margin: 120px 0 40px 0;
    font-size: 1.8rem;
}

.search-container .sort-choice {
    margin-bottom: 30px;
}

.search-container .sort-choice form {
    display: flex;
    justify-content: space-between;
}

.search-container .search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #00000038 solid;
}

.search-container .search-result img {
    width: 80px;
}

/*Business Registration Style */
.licencebiz {
    color: #000000a6;
    ;
}

/*Business Managment Page*/
.business-man-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    border-bottom: 1px solid #0000001a;
    font-size: 1.2rem;
}

.business-man-header .business_name {
    color: #000;
}

.business-man-header a {
    text-decoration: none;
    color: #000;
}

.business-man-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 100px 0;
}

.business-man-container .menu-sec {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-man-container .menu-sec .menu-item {
    padding: 10px 5px;
    cursor: pointer;
}

.business-man-container .opt-container {
    width: 76%;
}

.business-man-container .opt-container .opt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.business-man-container .active {
    color: #000;
    background-color: #00000027;
}

/*Style for new orders */
.new-order .order-wrapper {
    display: flex;
    flex-direction: column;
}

.new-order .orderd_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #00000025 solid;
}

.new-order img {
    width: 80px;
}

/*Style for the item list*/
.opt-container .opt-co {
    display: none;
}

.business-man-container .item {
    display: flex;
    flex-direction: column;
    /* width: 280px; */
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #0000005a;
}

.business-man-container .item .item-name,
.business-man-container .item .stock,
.business-man-container .item .edit {
    padding: 0% 2%;
}

.business-man-container .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.business-man-container .item .lower {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-bottom: 10px;
}

/* Add Item */
.add-item {
    display: none;
}

.business-man-container {
    display: flex;
}

.business-man-container .add-item .title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.add-item form input {
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
    padding-left: 5px;
}

.add-item form {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-item form .row-1 {
    display: flex;
    gap: 100px;
}

.add-item .row-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-item form .sub-row-1 {
    display: flex;
    gap: 20px;
}

.add-item .row-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.add-item input[type="submit"] {
    width: 250px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #0BAB0A;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

/* Style for the statistics */

.business-man-container .stats {
    display: none;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid #0000004d;
    padding: 20px 0;
    border-radius: 20px;
}

.stats .stat .first {
    font-size: 2rem;
}

/* Style for the the edit profile*/
.business-man-container .profile {
    display: none;
}

.business-man-container .profile .profile-wrapper form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
}

.business-man-container .profile .profile-wrapper form input {
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
}

.business-man-container .profile .profile-wrapper form input[type='submit'] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
}

/*Style for the reset password */
.business-man-container .password {
    display: none;
}

.business-man-container .password-wrapper form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 10px;
}

.business-man-container .password-wrapper input {
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5px;
}

.business-man-container .password-wrapper input[type="submit"] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
}

/* Update Products Page */
.update-product-head {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
}

.update-product-head a {
    text-decoration: none;
    color: #000;
}

hr {
    color: #0000003d;
}

.update-product-head {
    display: flex;
}

.update-product-container {
    margin: 50px 0px;
    display: flex;
    gap: 20px;
}

.update-product-container .col-1 {
    width: 40%;
}

.update-product-container .col-1 img {
    height: 70vh;
    width: 100%;
    object-fit: cover;

}

.update-product-container .col-2 {
    width: 60%;
}

.update-product-container .col-2 .row-1 {
    display: flex;
    justify-content: space-between;
}

.update-product-container .col-2 .row-1 a {
    text-decoration: none;
    color: red;
    font-size: 24px;
}

.update-product-container .col-2 form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-product-container input {
    height: 40px;
    width: 250px;
    padding: 0px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000025;
    border-radius: 5px;
}

.update-product-container input[type="submit"] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
    text-align: left;
}

/* Style for the Admin Page*/
.business-man-container .opt-container .seller {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000025;
}

.business-man-container .buyer-man {
    display: none;
}

.business-man-container .deactive:hover {
    color: red;
}

.business-man-container .deactive {
    cursor: pointer;
}

.business-man-container .delivery {
    display: none;
}

.business-man-container .delivery .delivery-form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-man-container .delivery .delivery-form .update-price {
    align-self: center;
}

.business-man-container .delivery-form input {
    height: 40px;
    padding: 0px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #00000025;
    border-radius: 5px;
}

.delivery-form input[type="submit"] {
    border: none;
    background-color: #0BAB0A;
    color: #fff;
    cursor: pointer;
    text-align: left;
}

.business-man-container .enquires {
    display: none;
}

.business-man-container .enquires-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-man-container .enquiry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #00000015;
}

.business-man-container .enquiry .row-1 {
    display: flex;
    justify-content: space-between;
}

.business-man-container .enquiry .row-2 .message {
    color: #0000006a;
}

.business-man-container .newsell {
    display: none;
}

/* Style for the seller information page */
.detail-info-container {
    width: 70%;
    margin: 100px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: 1px solid #00000015;
    padding: 30px 0;
}

.detail-info-container .info {
    display: inline;
    padding-left: 30px;
}

.detail-info-container .action-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 30px;
}

.detail-info-container .action-btns a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.detail-info-container .action-btns .activate {
    background-color: #0BAB0A;
}

.detail-info-container .action-btns .deactive {
    background-color: red;
}

/*Style for sales report */
.sales-report-title {
    margin: 30px 0px;
    font-size: 1.4rem;
}

.sales-report-container .orderd_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #00000025 solid;
}

.sales-report-container img {
    width: 80px;
}

/* Reponsive Code */
header .mobile-header {
    display: none;
}
.content-mobile-header{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 3;
    margin-top: 50px;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}
header .content-mobile-header a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}
.content-mobile-header .search-bar .search-btn{
    background-color: #013D29;
    color: #fff;
    padding: 5px;
}

@media only screen and (max-width: 985px) {
    .header {
        display: none;
    }

    .mobile-header img {
        width: 100px;
    }

    header .mobile-header {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

    .mobile-header a {
        font-size: 2rem;
        align-self: center;
    }
    .banner{
        height: 20vh;
    }
    .item-desc .item-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .swiper-slide{
        width: 500px;
    }
    .foot-container{
        flex-direction: column;
    }
    .foot-container .col{
        width: 100%;
    }
    /* Cart Page */
    .cart-container .cart-wrapper img{
        width: 50px;
    }
    /*Categories Seciton */
    .cat-container .cat-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    /* Checkout Page */
    .checkout-wrapper{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .checkout-wrapper .col-2{
        gap: 50px;
    }
    .checkout-wrapper .col{
        padding:20px 10px;
    }
    /*Contact Page */
    .contact-container .contact-wrapper form{
        width: 100%;
    }
    /*Detail Page*/
    .detailpg-container{
        flex-direction: column;
    }
    .detailpg-container .col{
        width: 100%;
    }
    .detailpg-container #main-img{
        height: 300px;
    }
    .detailpg-container .col-2 .row-1 .product-name,
    .detailpg-container .col-2 .row-1 .product-price {
        margin-top: 10px;
        font-size: 1.4rem;
    }
    /* List Page */
    .list-container-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Login Page*/
    .login-container {
        width: 100%;
    }
    .new-password{
        width: 100%;
    }
    /* Registration Page */
    .reg-container .col-1 {
        width: 100%;
    }
    .reg-container .col-2{
        display: none;
    }
    /* reset confirmation*/
    .reset-container{
        width: 100%;
    }
}